@import url('normalize.css');
@import url('fonts.css');

:root {
    --font-family: 'Roboto Flex';
    --color-title: #000;
    --color-text: #8F8F8F;
    --color-link:#0040FE;
    --background-gradient: linear-gradient(270deg, #009FFA 0%, #0137FF 100%);
    --background-btn: linear-gradient(90deg, #0137FF 0%, #02A9FF 100%);
}


.header {
    padding-top: 42px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo {
    background: var(--background-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Red Hat Text';
    font-size: 40px;
    font-style: normal;
    line-height: normal;
}

.header__span {
    background: var(--background-gradient);
    background-clip: text;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu__link {
    color: var(--color-link);
    font-size: 17.9px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    transition: all .2s;
    color:red;
}

.menu__item:hover {
    transition: all .2s;
    transform: scale(1.2);
}

.information {
    margin: 56px 0px 120px
}

.information__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-info {
    max-width: 800px;
}

.information__title, .product-title, .achievements__title, .about__title, .architecture-title, .trust-us__title, .vacancies__title, .contacts__title {
    color: var(--color-title);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
}

.information__title {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: -2.16px;
    margin-bottom: 32px;
}

.information-image {
   display: flex;
   max-width: 358px;
}

.image {
    margin-left: -40px;
}

.btn {
    display: inline-block;
    padding: 24px 45px;
    text-align: center;
    border-radius: 16px;
    background: var(--background-btn);
    border: none;

    color: #fff;
    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}



.btn:hover {
    opacity: 0.7;
}

.task {
    margin-bottom: 120px;
}

.task-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.list-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
}

.list-item:not(.list-item:last-child){
    margin-right: 41px;
}

.task__title {
    color: var(--color-title);
    font-family: var(--font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    height: 84px;
    letter-spacing: 1.32px;
}

.task__description {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 359px;
}

.title {
    color: var(--color-title);
    font-family: var(--font-family);
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px; /* 95.455% */
    letter-spacing: 1.32px;
}

.product {
    padding-bottom: 56px;
    font-family: var(--font-family);
}

.product-title {
    font-size: 72px;
    line-height: none;
    letter-spacing: -2.16px;
    margin-top: 120px;
    margin-bottom: 32px;
}

.product__logo{
  margin-bottom: 32px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.product__description {
  flex: 1 0 0;
  color: var(--color-text);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.product-task {
    display: flex;
    flex-direction: column;
    gap:42px;
    align-items:flex-start;
}

.product-item {
    display: flex;
    max-width: 560px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.product-text {
    flex: 1 0 0;
    color: var(--color-title);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: none;
}

.architecture {
    margin-top: 56px;
    margin-bottom: 120px;
    font-family: var(--font-family);
}

.architecture__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.architecture__info {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.architecture-title {
  text-align: center;
  font-size: 44px;
  letter-spacing: 1.32px;
}

.architecture-text {
    color: var(--color-text);
    text-align: center;
    width: 1160px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    margin-top: 0px;
}

.architecture-image {
    object-fit: cover;
    max-width: 1184px;
    max-height: 1032px;
}

.about-us {
    font-family: var(--font-family);
    margin-top: 120px;
    margin-bottom: 48px;
}

.about__title {
   font-size: 72px;
   letter-spacing: 2.16px;
   margin-bottom: 32px;
}

.about__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.about__text {
   width: 560px;
   color: var(--color-title);
   font-size: 24px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.about-description__inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self:stretch;
}

.description__text {
    width: 560px;
    color:var(--color-text);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.team {
    margin-top: 48px;
    margin-bottom: 56px;
}

.image-group {
    display: flex;
    max-width: 1440px;
    align-items:flex-start;
    gap: -70px;
}

.image-team {
    width: 320px;
    border-radius: 20px;
    flex-shrink: 0;
    margin-right: -55px;
}

.our-achievements {
    background: var(--background-gradient);
    padding: 64px 85px 80px 85px;

    font-family: var(--font-family);
}

.achievements__inner {
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 1160px;
    gap: 64px;
}

.achievements__title {
   color:rgba(255, 255, 255, 0.70);
   font-size: 72px;
   line-height: normal;
   letter-spacing: 2.16px;
}

.achievements-list {
    display: flex;
    gap:40px;
}

.achievements__item {
    width: 359px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    color: #fff;
}

.achievements__data {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing:1.32px;
}

.achievements__description {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

.achievements__span {
    white-space: nowrap;
}

.trust-us {
    margin-top: 120px;
    margin-bottom: 120px;
}

.trust-us__inner {
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 32px;
}

.trust-us__title {
    font-size: 72px;
    line-height: normal;
    letter-spacing: 2.16px;
}

.image-list {
    display: flex;
    gap: 40px;
    align-items:flex-start;
}


.image__item-1 {
    background-image: url('../image/image-company-1.png');
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all .2s;
}

.image__item-2 {
    background-image: url('../image/image-company-2.png');
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all .2s;
}

.image__item-3 {
    background-image: url('../image/image-company-3.png');
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all .2s;
}

.image__item-4 {
    background-image: url('../image/image-company-4.png');
    width: 260px;
    height: 170px;
    cursor: pointer;
    transition: all .2s;
}

img.image__item-2:hover {
    background-image: url('../image/image-hover-1.png');
    transition: all .5s;
}

img.image__item-3:hover {
    background-image: url('../image/image-hover-2.png');
    transition: all .5s;
}

img.image__item-4:hover {
    background-image: url('../image/image-hover-3.png');
    transition: all .5s;
}

.vacancies {
    margin-top: 120px;
    margin-bottom: 120px;

}

.vacancies-inner {
    display: flex;
    width: 1158px;
    flex-direction: column;
    gap: 32px;
}

.vacancies__title {
    font-size: 72px;
}

.vacancies__text {
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.vacancies__link {
    color:var(--color-link);
    text-decoration-line: underline;
    cursor: pointer;
}

.contacts {
    margin-top: 120px;
    margin-bottom: 120px;
}

.contacts-inner {
    display: flex;
    width: 1160px;
    flex-direction: column;
    gap: 32px;
}

.contacts__title {
    font-size: 72px;
}

.contacts-address {
    color:var(--color-text);
    font-family: var(--font-family);
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.btn-contacts {
    padding: 24px 32px;
    font-size: 24px;
    font-weight: 600;
}

.footer {
    margin-bottom: 60px;
}

.footer-text {
  width: 1159px;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}













