@import url('normalize.css');
@import url('fonts.css');

.header {
    padding-top: 42px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__logo {
    background: linear-gradient(270deg, #009FFA 0%, #0137FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Red Hat Text';
    font-size: 40px;
    font-style: normal;
    line-height: normal;
}

.header__span {
    background: linear-gradient(270deg, #009FFA 0%, #0137FF 100%);
    background-clip: text;
    font-weight: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.menu__items {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.menu__link {
    color: #0040FE;
    font-size: 17.9px;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__link:hover {
    transition: all .2s;
    color:red;
}

.menu__item:hover {
    transition: all .2s;
    transform: scale(1.2);
}

.information {
    margin: 56px 0px 120px
}

.information__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-info {
    max-width: 800px;
}

.information__title {
    color: #000;
    font-family: 'Roboto Flex';
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -2.16px;
    margin-bottom: 32px;
}

.information-image {
   display: flex;
   max-width: 358px;
}

.image {
    margin-left: -40px;
}

.btn {
    display: inline-block;
    padding: 24px 45px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(90deg, #0137FF 0%, #02A9FF 100%);
    border: none;

    color: #fff;
    font-family: "Roboto Flex";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}



.btn:hover {
    opacity: 0.7;
}

.task {
    margin-bottom: 120px;
}

.task-list {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.list-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 24px;
}

.list-item:not(.list-item:last-child){
    margin-right: 41px;
}

.task__title {
    color: #000;
    font-family: "Roboto Flex";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    height: 84px;
    letter-spacing: 1.32px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.task__description {
    color: #8F8F8F;
    font-family: "Roboto Flex";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 359px;
}

.title {
    color: #000;
    font-family: "Roboto Flex";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px; /* 95.455% */
    letter-spacing: 1.32px;
}

.product {
    padding-bottom: 56px;
    font-family: 'Roboto Flex';
}

.product-title {
    color: #000;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: none;
    letter-spacing: -2.16px;
    margin-top: 120px;
    margin-bottom: 32px;
}

.product__logo{
  margin-bottom: 32px;
}

.product__inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: flex-start;
}

.product__description {
  flex: 1 0 0;
  color: #8F8F8F;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
}

.product-task {
    display: flex;
    flex-direction: column;
    gap:42px;
    align-items:flex-start;
}

.product-item {
    display: flex;
    max-width: 560px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.product-text {
    flex: 1 0 0;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: none;
}

.architecture {
    margin-top: 56px;
    margin-bottom: 120px;
    font-family: 'Roboto Flex';
}

.architecture__inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.architecture__info {
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.architecture-title {
  color: #000;
  text-align: center;
  font-size: 44px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 1.32px;
  margin: 0;
}

.architecture-text {
    color: #8F8F8F;
    text-align: center;
    width: 1160px;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    margin-top: 0px;
}

.architecture-image {
    object-fit: cover;
    max-width: 1184px;
    max-height: 1032px;
}

.about-us {
    font-family: 'Roboto Flex';
    margin-top: 120px;
    margin-bottom: 48px;
}

.about__title {
   color:#000;
   font-size: 72px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   letter-spacing: 2.16px;
   margin-bottom: 32px;
}

.about__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.about__text {
   width: 560px;
   color: #000;
   font-size: 24px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}

.about-description__inner {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self:stretch;
}

.description__text {
    width: 560px;
    color:#8F8F8F;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.team {
    margin-top: 48px;
    margin-bottom: 56px;
}

.image-group {
    display: flex;
    max-width: 1440px;
    align-items:flex-start;
    gap: -70px;
}

.image-team {
    width: 320px;
    border-radius: 20px;
    flex-shrink: 0;
    margin-right: -55px;
}

.our-achievements {
    background: linear-gradient(90deg, #0137FF 0%, #02A9FF 100%);
    padding: 64px 140px 80px 140px;
    height: 508px;

    font-family: 'Roboto Flex';
}

.achievements__inner {
    display: inline-flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 64px;
}

.achievements__title {
   color:rgba(255, 255, 255, 0.70);
   font-size: 72px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   letter-spacing: 2.16px;
}

.achievements-list {
    display: flex;
    gap:40px;
}











